Documents/Architecture/xsdElement/Certificats.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xsd:element name="Doctor" type="xsd:string"/>
  <xsd:attribute  name="Date" type="xsd:date"/>
  <xsd:element name="Patient" type="xsd:string"/>
  <xsd:element name="Type" type="xsd:string"/>
  <xsd:attribute  name="DateEnd" type="xsd:date"/>
  <xsd:attribute name="Motif" type="xsd:string"/>
</xsd:schema>