Architecture/Modèle Données/xsdElement/Useless/DemandeExam.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xsd:complexType name="Identite">
    <xsd:sequence>
      <xsd:element name="Nom" type="xsd:string"/>
      <xsd:element name="Nom" type="xsd:string"/>
      <xsd:element name="Id" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="Doctor" type="Identite"/>
  <xsd:element name="Patient" type="Identite"/>
  <xsd:element name="IdDemande" type="xsd:int"/>
    </xsd:sequence>
  <xsd:element name="Unité" type="xsd:int"/>
   <xsd:element name="Valider" type="xsd:bool"/>
   <xsd:element name="DateExamen" type="xsd:date"/>
  
</xsd:schema>