Architecture/Modèle Données/xsdElement/AnalyseExtension.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  

  <xsd:complexType name="Constante">
    <xsd:sequence>
      <xsd:element name="idConstante" type="xsd:int" />
      <xsd:element name="ConstanteValue" type="xsd:float"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="ListContante">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Constante" type="Constante" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>