Architecture/xsdElement/Useless/CompteRendu.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  
  
  <xsd:element name="ListImportantElement">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Important" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="iDExamReference" type="xsd:int"/>
  <xsd:element name="CompteRendu" type="xsd:string"/>
  
</xsd:schema>